body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  width: 375px;
  background-color: black;
  height: 812px;
}

section {
  padding-bottom: 71px;
  background-color: #F3F3F3;
  height: 812px;
}

nav {
  overflow: hidden;
  background-color: #F8F8F8;
  /* position: fixed;
  bottom: 0; */
  position: relative;
  bottom: 1px;
  width: 373px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  border: 1px solid #ddd;
}

nav a {
  float: left;
  width: 14%;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
}

nav .active {
  font-weight: bold;
}

.tab-icon {
  height: 26px;
}

.line-icon {
  height: 7px !important;
  padding-top: 12px;
  padding-bottom: 6px;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 12px;
  padding-left: 20px;
}

.bus {
  height: 30px;
  float: left;
  padding-top: 8px;
}

.route-data {
  border-collapse: collapse;
  width: 100%;
}

.route-data td {
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  color: #313131;
}

.route-data th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  color: black;
  font-size: 12px;
}

thead {
  background-color: #F3F3F3;
}

.route-data th:first-child {
  width: 82px;
}

.route-data tr td:first-child {
  width: 30px;
  padding-left: 20px;
}

.route-data tr td:last-child {
  text-align: right;
}

.route-data tr td:nth-child(even) {
  width: 150px;
}

tbody {
  background-color: white;
}

.top {
  text-align: center;
  background-color: #FAD87D;
  padding-top: 2px;
  padding-bottom: 2px;
}

.back-arrow {
  height: 15px;
  float: left;
  position: relative;
  top: 15px;
  left: 15px;
}

.status {
  width: 373px;
}

.line-number {
  height: 20px;
}

.signal {
  height: 12px;
}
